.slide {
	overflow: hidden;
	visibility: hidden;
	height: 0;
}

.slide-container {
	position: relative;
	margin: auto;
}

.select {
	overflow: hidden;
	visibility: visible;
}

.navButton {
	background-color: #fff;
	color: #000;
	border-radius: 0px;
	width: 30px;
	height: 30px;
}
