@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Karla", sans-serif;
	background-color: #020100;
	color: #f2f4f3;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: #f2f4f3;
		background: #020100;
	}
}
